/** Main.css **/
.hidden {
	display: none;
}

/** Recette.css **/

.recette header {
	border-bottom: 1px solid #e8e8e8; 
	margin-bottom: 15px;
}

.recette h1 {
	text-align: center;
	margin-bottom: 25px;
}

.recette h3.variante-subtitles {
	text-align: center;
}

.recette .recette-whole {
	border-bottom: 1px solid #e8e8e8; 
	padding-bottom: 15px; 
	margin-bottom: 15px;
	
	display: flex; 
	flex-flow: row nowrap;
}

.recette .ingredients-panel {
	padding-right: 10px;
	
	flex: 0 1 auto;
	white-space: nowrap;
}

.recette .steps-panel {
	border-left: 1px solid #e8e8e8; 
	padding-left: 10px;
	
	flex: 1 1 auto;
}
	
.recette .no-dots {
	list-style-type: none;
	margin-left: 10px;
}

.recette .recipe-pictures {

	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: flex-start;
}

.recette .recipe-pictures .recipe-picture {

	padding: 5px;
	border-radius: 10px;
	transition: width 500ms;
	cursor: pointer;
}

/* Specific for the recipes with multiple variations */
.recette .variations-tabs {
	overflow: hidden;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 15px;
	margin-top: -15px;
}

.recette .variations-tabs button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 13px;
	transition: 0.3s;
}

.recette .variations-tabs button:hover {
	background-color: #ddd;
}

.recette .variations-tabs button.active {
	background-color: #e8e8e8;
}

.recette .ingredient-qty-variable {
	width: 4em;
}

/* Mobile view */ 
@media all and (max-width: 700px) {
	.recette-whole {
	flex-direction: column;
	}
	
	.steps-panel {
	border-left: 0; 
	padding-left: 0px;
	margin: 0px;
	
	flex: 1 1 auto;
	}
}